.rotatenewClass:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .toastClass{
    background-color: green;
  }
/* Logo -Css */
  .innnerDivClass {
    margin:  auto 0;
  }
  
  .innnerDivClass:before, .innnerDivClass:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .innnerDivClass:after {
    filter: blur(50px);
  }


  /* btn Css HomePage */
  .orderNowBtn {
    /* width: 150px; */
    /* height: 50px; */
    /* border: 1px solid #333; */
    font-family: 'Cinzel', serif;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
  }
  
  .orderNowBtn::before, .orderNowBtn::after {
    position: absolute;
    /* background: #eee; */
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
  .orderNowBtn::before {
    height: 40px;
    width: 110px;
  }
  
  .orderNowBtn::after {
    width: 110px;
    height: 25px;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .orderNowBtn:hover::before {
    width: 0px;
    background: green;
  }
  
  .orderNowBtn:hover::after {
    height: 0px;
    background: green;
  }
  
  .orderNowBtn:hover {
    background: green;
  }
  